<div class="index-page__brands">
  <div class="index-page__brand-image">
    <img src="/images/bioderma.svg" alt="Bioderma brand">
  </div>
  <div class="index-page__brand-image">
    <img src="/images/larocheposay.svg" alt="La Roche Posay brand">
  </div>
  <div class="index-page__brand-image">
    <img src="/images/avene.svg" alt="Avene brand">
  </div>
  <div class="index-page__brand-image">
    <img src="/images/cerave.svg" alt="Cerave brand">
  </div>
  <div class="index-page__brand-image">
    <img src="/images/eucirine.svg" alt="Eucirine brand">
  </div>
</div>