<footer>
  <div class="footer__left-column">
    <a href="/"><h2>PROCosmetics</h2></a>
    <p>Discover the best products.</p>

    <div class="socialnets__icons">
      <div class="icon-container">
        <a href="https://github.com/Lanut1">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="icon-container">
        <a href="https://github.com/Lanut1">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="icon-container">
        <a href="https://github.com/Lanut1">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="icon-container">
        <a href="https://github.com/Lanut1">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__right-column">
    <nav>
      <a href="/">About</a>
      <a href="/products">Catalogue</a>
      <a href="/">Contacts</a>
    </nav>
  </div>
</footer>