<header>
  <h1><a href="/">PROcosmetics</a></h1>

  <nav>
    <a href="/">ABOUT</a>
    <a href="/products">CATALOGUE</a>
    <a href="/">CONTACTS</a>

    <% if (user) { %>
      <button class="button--auth">
        <a href="/auth/log-out">LOG OUT</a>
      </button>
    <% } else { %>
      <a href="/auth/login">LOG IN</a>
      <button class="button--auth"><a href="/auth/register">SIGN UP</a></button>
    <% } %>
  </nav>
</header>