<header>
  <a class="header-logo" href="/">
    <img src="/images/logo.svg" alt="Logo image">
    <h1>PROcosmetics</h1>
  </a>

  <nav>
    <a href="/">ABOUT</a>
    <a href="/products">CATALOGUE</a>
    <a href="/contacts">CONTACTS</a>

    <% if (user) { %>
      <button class="button--auth" onclick="location.href='/auth/log-out'">
        LOG OUT
      </button>
    <% } else { %>
      <a href="/auth/login" >LOG IN</a>
      <button class="button--auth" onclick="location.href='/auth/registration'">SIGN UP</button>
    <% } %>
  </nav>
</header>