<header>
  <a class="header-logo" href="/">
    <img src="/images/logo.svg" alt="Logo image">
    <h1>PROcosmetics</h1>
  </a>

  <nav>
    <a href="/">ABOUT</a>
    <a href="/products">CATALOGUE</a>
    <a href="/">CONTACTS</a>

    <% if (user) { %>
      <button class="button--auth">
        <a href="/auth/log-out">LOG OUT</a>
      </button>
    <% } else { %>
      <a href="/auth/login">LOG IN</a>
      <button class="button--auth"><a href="/auth/registration">SIGN UP</a></button>
    <% } %>
  </nav>
</header>