<div class="index-page__landing">
  <div class="index-page__landing-background">
    <div class="index-page__higlighted-text">
      <div class="index-page__highlighted-line index-page__highlighted-line--white">LET'S</div>
      <div class="index-page__highlighted-line">EXPLORE</div>
      <div class="index-page__highlighted-line index-page__highlighted-line--white">UNIQUE</div>
      <div class="index-page__highlighted-line">COSMETICS.</div>
      <button onclick="location.href='/products';">
        VIEW PRODUCTS
      </button>
    </div>
  </div>
</div>