<div class="products-page__products-container">
  <% if (products.length === 0) { %>
    <h3>No products found matching your filters.</h3>
  <% } else { %>
    <ul class="products-list"> 
      <% products.forEach(product => { %>
        <li class="product-item">
          <div class="product-item__name">
            <h3><%= product.name %></h3>
          </div>
          <img src="<%= product.photo_url %>" alt="<%= product.name %>" />
          <a class="link-animated" href="/products/<%= product.id %>">
            <p>View Product</p>
            <span class="material-symbols-outlined">
              arrow_forward
            </span>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>