<div class="index-page__promotion">
  <div class="index-page__promotion-header">
    <div class="index-page__highlighted-line index-page__highlighted-line--white">Your Perfect</div>
    <div>Beauty Products</div>
  </div>

  <div class="index-page__promotion-text">
    <span class="material-symbols-outlined">check</span>
    Share and explore honest reviews from real beauty enthusiasts.
  </div>

  <div class="index-page__promotion-text">
    <span class="material-symbols-outlined">check</span>
    Add your own experiences, browse thousands of authentic cosmetic reviews.
  </div>

  <div class="index-page__promotion-text">
    <span class="material-symbols-outlined">check</span>
    Make confident beauty purchases.
  </div>

  <button>
    <a href="/products">VIEW PRODUCTS</a>
  </button>
</div>