<div class="index-page__reviews">
  <h1 class="index-page__reviews-header">NEW REVIEWS</h1>

  <div class="index-page__reviews-categories">
    <div class="index-page__reviews-category">
      <div class="index-page__reviews-image"><img src="/images/category1.jpg" alt="Category Image"></div>
      <div class="index-page__reviews-description">
        <a class="link-animated" href="/products?category=Face&category=Eyes">
          <div>
            <h2>Skincare Essentials</h2>
            <p>Explore now!</p>
          </div>
          <span class="material-symbols-outlined">
              arrow_forward
          </span>
        </a>
      </div>
    </div>

    <div class="index-page__reviews-category">
      <div class="index-page__reviews-image"><img src="/images/category2.jpg" alt="Category Image"></div>
      <div class="index-page__reviews-description">
        <a class="link-animated" href="/products?category=Hands">
          <div>
            <h2>Hand Care Must-Have</h2>
            <p>Explore now!</p>
          </div>
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </div>
    </div>
    
    <div class="index-page__reviews-category">
      <div class="index-page__reviews-image"><img src="/images/category3.jpg" alt="Category Image"></div>
      <div class="index-page__reviews-description">
        <a class="link-animated" href="/products?category=Body">
          <div>
            <h2>Body Care Heroes</h2>
            <p>Explore now!</p>
          </div>
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </div>
    </div>
  </div>
</div>