<div class="index-page__sign-up">
  <h1>JOIN THE PROCOSMETICS COMMUNITY AND DISCOVER THE BEST PRODUCTS</h1>
  <p>Sign up now to share your experiences, explore honest reviews, and get personalized recommendations tailored to your beauty needs.</p>
  <button><a href="/auth/register">SIGN UP</a></button>
</div>