.product-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.product-card__main {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 900px;
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgb(165, 165, 165);
}

.product-card__image-container img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.product-card__info h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.product-card__info p {
  font-size: 1rem;
  color: #333;
}

.product-card__reviews {
  width: 100%;
  max-width: 900px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card__login-message {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.product-card__review-items {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 1rem;
}

.product-card__review-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.7rem;
}

.product-card__review-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.product-card__review-time {
  font-size: 0.9rem;
  color: gray;
}

.product-card__review-message {
  font-size: 1rem;
  color: #333;
}

.product-card__textarea {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.review-textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.textarea--error {
  border: 2px solid red;
}

dialog {
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 7px rgb(165, 165, 165);
  margin: auto;
  padding: 2rem;
}

.dialog-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-card__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-card__info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.product-card__textarea button {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .product-card__container {
    padding: 1rem;
  }

  .product-card__main {
    flex-direction: column;
  }

  .product-card__image-container img {
    width: 80%;
  }

  .product-card__info {
    width: 100%;
  }

  .product-card__info h3 {
    font-size: 1.5rem;
  }
}